body {
	background:url('../image/table1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: center;
	background-attachment: fixed;
	margin:0;
	overflow-x: hidden;
}

h1{
	text-shadow: 1px 1px 2px white, 0 0 25px lawngreen, 0 0 10px yellow;;
	color: white;
	text-align: center;
	font-size: 64;
}

.content{
	top:0;
	border: 2px solid azure;
	padding: 2% 3%;
	font-family: Time News Roman;
	font-size: 16px;
	text-align: center;
	color: black;
	width: 80%;
	height: auto;
	background: rgba(225,225,225,0.8);
}

.tab-bottom{
	position: absolute;
	bottom: 0;
		padding: 1px 5px 0 0;
		overflow: hidden;
		border: none;
		background-color: rgb(32, 134, 32);
	width: 101%;
	max-width: 100.7%;
}

ul.tab {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height:52px;
	overflow: hidden;
	border: none;
	background-color: rgb(32, 134, 32);
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
	font-family: "Lato", sans-serif;
	display: inline-block;
	color: azure;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
	background-color: lawngreen;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
	background-color: darkgreen;
}

ul.tab li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: azure;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px gray;
	z-index: 1;
}

ul.tab .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

ul.tab .dropdown-content a:hover {
	background-color: mediumseagreen;
}

.dropdown:hover .dropdown-content {
	display: block;
}
