body {
	background: #ffe1ba;
}

.content {
	margin-left: 5vw;
	margin-right: 5vw;
}

.rank {
	background: rgba(225,225,225,0.8);
	white-space: pre;
	box-sizing: border-box;
	border:2px solid black;
	margin:0;
	/* Inherit/2 - textsize */
	padding-top: calc((100vh - 52px - (5vh * 3)) / 4 - 36px);
	height: calc((100vh - 52px - (5vh * 3)) / 2);
	-webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.item {
	/* (total-navbar-(margintop*no.ofEle+1))/no.ofEle */
	height: calc((100vh - 52px - (5vh * 3)) / 2);
	width:100%;
	transition: height 2s;
	margin-top:5vh;
	display:inline-flex;
}

.text {
	height:inherit;
	width:cover;
}

.read {
	margin-right: 10px;
	margin-bottom: 10px;
	background: rgba(150,200,50,0.4);
	border:1px dotted black;
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 3px;
	float:right;
}

.item-real {
	background: white;
	height: inherit;
	display:inherit;
	box-sizing: border-box;
	border:2px solid black;

}

p {
	text-indent: 2em;
	font-size: 20px;
	display:block;
	padding: 10px;
	padding-top: 10px;
	margin: 0;
	box-sizing: border-box;
	height: calc((100vh - 52px - (5vh * 3)) / 2 - 86px);
	width:cover;
	overflow: hidden;
}

.item-real h1 {
	width: cover;
	margin:0;
	padding-left: 20px;
	background:red;
	transition: width 2s;
}

.item-real.left {
	margin-left: 20px;
}

.item-real.right {
	margin-right: 20px;
}

/* Animation */
.left {
	-webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	animation-name: bounceInRight;
}

.right {
	-webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	animation-name: bounceInLeft;
}

.left img {
	width: auto;
	height:inherit;
	/*height: calc((100vh - 60px - (5vh * 3)) / 2);*/
	box-sizing: border-box;
	border-right: 2px solid black;
}

.right img {
	width: auto;
	height: inherit;
	border-left: 2px solid black;
	box-sizing: border-box;
}

.expanded img {

}
